# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
ecommerce-frontend/node_modules/
ecommerce-frontend/.pnp
.ecommerce-frontend/pnp.js
ecommerce-frontend/.env

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorer les fichiers de logs
/log/*.log

# Ignorer les caches de Bootsnap
ecommerce-backend/tmp/cache/bootsnap/*
ecommerce-backend/tmp/cache/bootsnap/compile-cache-iseq/*
ecommerce-backend/tmp/cache/bootsnap/compile-cache-yaml/*
ecommerce-backend/log/development.log
ecommerce-backend/tmp/pids/

# Ignorer tous les fichiers dans tmp/cache/
ecommerce-backend/tmp/cache/*
